services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    networks:
      - walkhelp
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    networks:
      - walkhelp
    depends_on:
      - backend
networks:
  walkhelp:
    driver: bridge
