ultralytics==8.3.102
opencv-contrib-python-headless==4.11.0.86
fastapi[standard]
numpy==2.1.1
python-socketio==5.12.1
google-cloud-firestore
google-cloud-storage==2.18.2
google-api-python-client==2.153.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
pytest==8.3.3
pytest-asyncio==0.24.0
pytest-cov==5.0.0